name: Workflow CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run preprocessing + modeling automation
      run: |
        python preprocessing/automate_diabetes.py

    - name: Create artifacts folder
      run: |
        mkdir -p artifacts
        cp model.pkl artifacts/
        cp diabetes_dataset_2019_preprocessing.csv artifacts/
        cp training_confusion_matrix.png artifacts/
        cp training_precision_recall_curve.png artifacts/
        cp training_roc_curve.png artifacts/

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ml-artifact-outputs
        path: artifacts/
