name: CI - MLflow Retrain

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        environment-file: MLProject/conda.yaml
        activate-environment: mlflow-env

    - name: Verify Python
      run: |
        python --version
        which python

    - name: Run MLflow Project
      run: |
        mlflow run MLProject -e main -P data_path=diabetes_dataset_2019_preprocessing.csv

    - name: Upload MLruns artifact
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/
