name: MLflow Skilled Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas matplotlib seaborn google-api-python-client google-auth-httplib2 google-auth-oauthlib

    - name: Run MLflow Project
      run: |
        mlflow run . -P data_path="diabetes_dataset_2019_preprocessing.csv"

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: artifacts-output
        path: artifacts/
